// .form {
//   background-color: #15172b;

//   box-sizing: border-box;
//   height: 100vw;
//   padding: 20px;
//   width: 100vw;
// }

// .title {
//   color: #eee;
//   font-family: sans-serif;
//   font-size: 36px;
//   font-weight: 600;
//   margin-top: 10px;
// }

// .subtitle {
//   color: #eee;
//   font-family: sans-serif;
//   font-size: 16px;
//   font-weight: 600;
//   margin-top: 10px;
// }

// .input-container {
//   height: 50px;
//   position: relative;
//   width: 100%;
// }

// .ic1 {
//   margin-top: 40px;
// }

// .ic2 {
//   margin-top: 30px;
// }

// .input {
//   background-color: #303245;
//   border-radius: 12px;
//   border: 0;
//   box-sizing: border-box;
//   color: #eee;
//   font-size: 18px;
//   height: 100%;
//   outline: 0;
//   padding: 4px 20px 0;
//   width: 100%;
// }

// .cut {
//   background-color: #15172b;
//   border-radius: 10px;
//   height: 20px;
//   left: 20px;
//   position: absolute;
//   top: -20px;
//   transform: translateY(0);
//   transition: transform 200ms;
//   width: 76px;
// }

// .cut-short {
//   width: 50px;
// }

// .input:focus ~ .cut,
// .input:not(:placeholder-shown) ~ .cut {
//   transform: translateY(8px);
// }

// .placeholder {
//   color: #65657b;
//   font-family: sans-serif;
//   left: 20px;
//   line-height: 14px;
//   pointer-events: none;
//   position: absolute;
//   transform-origin: 0 50%;
//   transition: transform 200ms, color 200ms;
//   top: 20px;
// }

// .input:focus ~ .placeholder,
// .input:not(:placeholder-shown) ~ .placeholder {
//   transform: translateY(-30px) translateX(10px) scale(0.75);
// }

// .input:not(:placeholder-shown) ~ .placeholder {
//   color: #808097;
// }

// .input:focus ~ .placeholder {
//   color: #dc2f55;
// }

// .submit {
//   background-color: #08d;
//   border-radius: 12px;
//   border: 0;
//   box-sizing: border-box;
//   color: #eee;
//   cursor: pointer;
//   font-size: 18px;
//   height: 50px;
//   margin-top: 38px;
//   /* outline: 0; */
//   text-align: center;
//   width: 90%;
//   justify-content: center;
// }

// .submit:active {
//   background-color: #06b;
// }
.large-container {
  // 101111
  height: 750px;
  // background-image: linear-gradient(#676767, #676767);
  background: rgb(231, 231, 231);
}
.large-container > .back {
  height: 8%;
  width: 10%;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
}
.large-container > .detail {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  background: rgb(201, 196, 196);
  min-height: 300px;
  min-width: 450px;
  z-index: 99;
  border-radius: 10px;
  padding: 0px 20px;
  cursor: pointer;
  line-height: 5vw;
  background-color: #dbdbdb;
}
.input-field {
  font-size: 22px;
  width: 93%;
  height: 60px;
  background-color: rgb(235, 235, 235);
  margin-bottom: 20px;
  border-radius: 10px;
}
.signin-btn {
  font-size: x-large;
  height: 60px;
  background-color: rgb(46, 46, 46);
  width: 93%;
  display: block;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 2px solid;
  &:hover {
    background-color: white;
    color: black;
    font-weight: bold;
  }
}
.output {
  text-align: center;
  font-size: 2vw;
  color: rgb(61, 61, 128);
  margin-bottom: 10px;
}
