<div class="large-container">
  <button class="back" (click)="goback()">&#8592; Back</button>
  <button class="detail" (click)="show()">Enter your Body Details</button>
  <app-modal-box
    [show]="selectedType === 'initial'"
    title="GENDER"
    number="1/6"
    (closed)="selectedType = ''"
  >
    <mat-form-field class="input-field" appearance="fill">
      <input
        [(ngModel)]="gender"
        matInput
        placeholder="0 = Male OR 1 = Female"
      />
    </mat-form-field>
    <div class="signin-button-row">
      <button mat-button class="signin-btn" (click)="nextgender()">NEXT</button>
    </div>
  </app-modal-box>
  <app-modal-box
    [show]="selectedType === 'gender'"
    title="AGE"
    number="2/6"
    (closed)="selectedType = ''"
  >
    <mat-form-field class="input-field" appearance="fill">
      <input [(ngModel)]="age" matInput placeholder="Age in years" />
    </mat-form-field>
    <div class="signin-button-row">
      <button mat-button class="signin-btn" (click)="nextage()">NEXT</button>
    </div>
  </app-modal-box>

  <app-modal-box
    [show]="selectedType === 'age'"
    title="WEIGHT"
    number="3/6"
    (closed)="selectedType = ''"
  >
    <mat-form-field class="input-field" appearance="fill">
      <input [(ngModel)]="weight" matInput placeholder="Weight in pounds" />
    </mat-form-field>
    <div class="signin-button-row">
      <button mat-button class="signin-btn" (click)="nextweight()">NEXT</button>
    </div>
  </app-modal-box>

  <app-modal-box
    [show]="selectedType === 'weight'"
    title="HEIGHT"
    number="4/6"
    (closed)="selectedType = ''"
  >
    <mat-form-field class="input-field" appearance="fill">
      <input [(ngModel)]="height" matInput placeholder="Height in inches" />
    </mat-form-field>
    <div class="signin-button-row">
      <button mat-button class="signin-btn" (click)="nextheight()">NEXT</button>
    </div>
  </app-modal-box>

  <app-modal-box
    [show]="selectedType === 'height'"
    title="HIP WAIST RATIO"
    number="5/6"
    (closed)="selectedType = ''"
  >
    <mat-form-field class="input-field" appearance="fill">
      <input
        [(ngModel)]="hipToWaistRatio"
        matInput
        placeholder="Select Ratio"
      />
    </mat-form-field>
    <img
      alt="Open Image For Reference"
      class="img-40 rounded-circle"
      style="width: 600px; height: 220px"
      src="assets/ratio.jpeg"
    />
    <div class="signin-button-row">
      <button mat-button class="signin-btn" (click)="nextratio()">NEXT</button>
    </div>
  </app-modal-box>

  <app-modal-box
    [show]="selectedType === 'ratio'"
    title="BODY TYPE"
    number="6/6"
    (closed)="selectedType = ''"
  >
    <mat-form-field class="input-field" appearance="fill">
      <input [(ngModel)]="bodyType" matInput placeholder="Select Type" />
    </mat-form-field>
    <img
      alt="Open Image For Reference"
      class="img-40 rounded-circle"
      style="width: 600px; height: 220px"
      src="assets/body.jpeg"
    />
    <div class="signin-button-row">
      <button mat-button class="signin-btn" (click)="submit()">SUBMIT</button>
    </div>
  </app-modal-box>

  <!-- <app-modal-box
    [show]="selectedType === 'submit'"
    title="SHIRT RECOMENDED"
    (closed)="selectedType = ''"
  >
    <p class="output">{{ size }}</p>
    <div style="text-align: center">
      <img
        alt="Open Image For Reference"
        class="img-40 rounded-circle"
        style="width: 300px; height: 300px"
        src="assets/shirt_l.webp"
      />
    </div>
    <div class="signin-button-row">
      <button mat-button class="signin-btn" (click)="close()">Thanks</button>
    </div>
  </app-modal-box> -->

  <app-modal-box
    [show]="selectedType === 'submit'"
    title="SHIRT RECOMENDED"
    (closed)="selectedType = ''"
  >
    <p class="output">{{ size }}</p>
    <div style="text-align: center">
      <img
        alt="Open Image For Reference"
        class="img-40 rounded-circle"
        style="width: 300px; height: 300px"
        src="assets/shirt_l.webp"
      />
    </div>
    <div class="signin-button-row">
      <button
        mat-button
        class="signin-btn"
        (click)="bodymeasure()"
        style="font-size: 19px"
      >
        Calculate Body Measurements
      </button>
    </div>
  </app-modal-box>
</div>
