<!-- <main class="container">
  <div class="left-column">
    <img src="assets/images/black.png" alt="hello" />
  </div>

  <div class="right-column">
    <div class="product-description">
      <span>Tshirts</span>
      <h1>Black Tshirts</h1>
      <p>
        Regular Fit Striped Tee MTF211050-10318150 The model is wearing size: M;
        Model height: 6.0ft /183cm
      </p>
    </div>

    <div class="product-configuration">
      <div class="color">
        <span>Color</span>

        <div class="cable-choose">
          <button>Black</button>
          <button>Red</button>
          <button>Yellow</button>
        </div>
      </div>
    </div>
    <div class="product-price">
      <span>148$</span>
      <a href="#" class="cart-btn">Add to cart</a>
    </div>

    <div class="predict">
      <a href="/predict" class="cart-btn">Predict Your Size</a>
      <a href="#" class="cart-btn">Try it on yourself</a>
    </div>
  </div>
</main> -->
<div class="left-side">
  <span class="logo">Next Generation E-Commerce</span>
  <div class="sm-product">
    <h1 class="product-index">01</h1>
    <div class="sm-product-img-container">
      <img src="assets/shirt_l.webp" class="sm-product-img" alt="" />
    </div>
    <br />
    <p class="sm-product-des">SKU M-AP-22-288968-P</p>
    <p class="sm-product-des" style="color: #005a64">IN STOCK</p>
    <h3 class="sm-product-des" style="color: #005a64; font-size: 1.4vw">
      PKR 2,058
    </h3>
  </div>
</div>

<div class="right-side">
  <img src="assets/bg-shirt.jfif" class="backdrop-img" alt="" />
  <div class="content">
    <div class="product-detail fade">
      <h1 class="product-name">Supreme Black T-Shirt</h1>
      <p class="product-des">
        Elevate your daily wear with these trendy and comfortable T Shirts from
        NX GEN.
      </p>
      <p style="color: #005a64">100% Cotton | Slim Fit</p>
      <p class="product-des">
        Versatile And Easy To Wear, Our Signature Shirt Is The Cornerstone Of
        Casual Ensembles. Its Pure Cotton Fabric Is Naturally Breathable.
      </p>
    </div>
    <div class="buttons" style="width: 150px; margin-top: 150px">
      <button class="buy-btn" (click)="size()" style="margin-top: 10px">
        Size Recomend
      </button>
      <button class="buy-btn" (click)="measure()">Body Measure</button
      ><button
        href="https://www.facebook.com/"
        class="buy-btn"
        (click)="tryon()"
      >
        Virtual Try On
      </button>
    </div>
    <div class="product-img-container slide">
      <img src="assets/shirt-m.jpg" class="product-img" alt="" />
    </div>
  </div>
</div>
