<div class="left-side">
  <span class="logo">Next Generation E-Commerce</span>
  <div class="sm-product">
    <h1 class="product-index">01</h1>
    <div class="sm-product-img-container">
      <img src="assets/shirt_l.webp" class="sm-product-img" alt="" />
    </div>
    <br />
    <p class="sm-product-des">SKU M-AP-22-288968-P</p>
    <p class="sm-product-des" style="color: #005a64">IN STOCK</p>
    <h3 class="sm-product-des" style="color: #005a64; font-size: 1.4vw">
      PKR 2,199
    </h3>
  </div>
</div>

<div class="right-side">
  <img src="assets/bg-shirt.jfif" class="backdrop-img" alt="" />
  <div class="content">
    <div class="product-detail fade">
      <h1 class="product-name">Supreme Black T-Shirt</h1>
      <p class="product-des">
        Elevate your daily wear with these trendy and comfortable T Shirts from
        NX GEN.
      </p>
      <p style="color: #005a64">100% Cotton | Slim Fit</p>
      <p class="product-des">
        Versatile And Easy To Wear, Our Signature Shirt Is The Cornerstone Of
        Casual Ensembles. Its Pure Cotton Fabric Is Naturally Breathable.
      </p>
    </div>
    <div class="buttons" style="width: 150px; margin-top: 150px">
      <button class="buy-btn" (click)="size()" style="margin-top: 10px">
        Size Recomend
      </button>
      <button class="buy-btn" (click)="measure()">Body Measure</button
      ><button
        href="https://www.facebook.com/"
        class="buy-btn"
        (click)="tryon()"
      >
        Virtual Try On
      </button>
    </div>
    <div class="product-img-container slide">
      <img src="assets/shirt-m.jpg" class="product-img" alt="" />
    </div>
  </div>
</div>
