<router-outlet></router-outlet>
<!-- 
<div class="main">
  <header class="header">
    <ul class="menu" #menu></ul>
    <ul class="menu menu-right" #menuSecond></ul>
  </header>
  <section class="first-section">
    <div class="box"></div>
    <div class="info">
      <h1 class="heading-1">Size Recomendations</h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia adipisci
        deserunt eaque.
      </p>
      <a class="btn btn--start">Get Started</a>
    </div>
    <div class="visuals">
      <div class="image-container">
        <img
          #imageFirst
          src="../assets/photo-1536179247184-595913ca4a28.jpeg"
          alt=""
        />
      </div>
      <div class="image-container">
        <img #imageSecond src="../assets/ai.jfif" alt="" />
      </div>
    </div>
  </section>
  <section class="second-section" #secondSection>
    <div class="box"></div>
    <h4 class="heading-4" id="about">Module 2</h4>
    <h1 class="heading-1" id="buy">Body Measures with CV.</h1>
    <div class="info-1">
      <div class="info-1__text">
        <span class="quote"> " </span>
        <h2 class="heading-3">Body Measurement</h2>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
          tempora eveniet adipisci sunt harum, eos nobis asperiores cumque
          veniam fuga fugit eius ab reiciendis, culpa id recusandae illum
          quisquam!
        </p>
        <a class="btn--learn">Learn More</a>
      </div>
      <div class="info-1__visual">
        <img src="../assets/body.png" alt="" />
      </div>
    </div>
  </section>
</div> -->
